/* Our Journey */
.ourjourney h2 {
  font-weight: bold;
}

.ourjourney p {
  font-weight: 400;
}

.journey-text h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3.5em;
}
.journey-text h2 {
  text-align: center;
  font-weight: bold;
  font-size: 4em;
}

.hidden-1 {
  margin-top: 80px;
  margin-right: 120px;
}

.hidden-2 {
  margin-right: 120px;
}
/* Our Journey End */

@media screen and (max-width: 540px) {
  .hidden-1 {
    font-size: 2.2em !important;
    margin: auto;
  }
  .hidden-2 {
    font-size: 2.2em !important;
    margin: auto;
  }

  .ourjourney p {
    text-align: justify !important;
    font-size: 0.9em;

    margin-top: 30px;
  }

  .ourjourney {
    margin: auto !important;
  }
}

@media screen and (width: 820px) {
  .hidden-1 {
    font-size: 3em !important;
    margin: auto;
    margin-top: 250px;
  }
  .hidden-2 {
    font-size: 3em !important;
    margin: auto;
  }

  .ourjourney p {
    text-align: justify !important;

    margin-top: 30px;
  }

  .ourjourney {
    margin: auto !important;
  }
}
@media screen and (width: 834px) {
  .hidden-1 {
    font-size: 4em !important;
    margin: auto;
    margin-top: 250px;
  }
  .hidden-2 {
    font-size: 3em !important;
    margin: auto;
  }

  .ourjourney p {
    text-align: justify !important;

    margin-top: 30px;
  }

  .ourjourney {
    margin: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .hidden-1 {
    font-size: 3em !important;
    margin: auto;
    margin-top: 180px;
  }
  .hidden-2 {
    font-size: 3em !important;
    margin: auto;
  }

  .ourjourney p {
    text-align: justify !important;

    margin-top: 30px;
  }

  .ourjourney {
    margin: auto !important;
  }
}
@media screen and (width: 884px) {
  .hidden-1 {
    font-size: 3em !important;
    margin: auto;
    margin-top: 250px;
  }
  .hidden-2 {
    font-size: 3em !important;
    margin: auto;
  }

  .ourjourney p {
    text-align: justify !important;

    margin-top: 30px;
  }

  .ourjourney {
    margin: auto !important;
  }
}

@media screen and (width: 768px) {
  .hidden-1 {
    font-size: 3em !important;
    margin: auto;
    margin-top: 250px;
  }
  .hidden-2 {
    font-size: 3em !important;
    margin: auto;
  }

  .ourjourney p {
    text-align: justify !important;

    margin-top: 30px;
  }

  .ourjourney {
    margin: auto !important;
  }
}

@media screen and (width: 912px) {
  .hidden-1 {
    font-size: 3em !important;
    margin: auto;
    margin-top: 250px;
  }
  .hidden-2 {
    font-size: 3em !important;
    margin: auto;
  }

  .ourjourney p {
    text-align: justify !important;

    margin-top: 30px;
  }

  .ourjourney {
    margin: auto !important;
  }
}

@media screen and (width: 1024px) {
  .hidden-1 {
    font-size: 3em !important;
    margin: auto;
    margin-top: 170px;
  }
  .hidden-2 {
    font-size: 3em !important;
    margin: auto;
  }

  .ourjourney p {
    text-align: justify !important;

    margin-top: 30px;
  }

  .ourjourney {
    margin: auto !important;
  }
}
@media screen and (width: 1280px) {
  .hidden-1 {
    font-size: 3em !important;
    margin: auto;
    margin-top: 120px;
  }
  .hidden-2 {
    font-size: 3em !important;
    margin: auto;
  }

  .ourjourney p {
    text-align: justify !important;
    margin-top: 10px;
  }

  .ourjourney {
    margin: auto !important;
  }
}
@media screen and (width: 1114px) {
  .hidden-1 {
    font-size: 3em !important;
    margin: auto;
    margin-top: 220px;
  }
  .hidden-2 {
    font-size: 3em !important;
    margin: auto;
  }

  .ourjourney p {
    text-align: justify !important;
    margin-top: 10px;
  }

  .ourjourney {
    margin: auto !important;
  }
}
